<div class="bg-light" style="padding: 80px;">
    <product-search (outputToParent)="receiveFilter($event)"></product-search>
    <div class="container-fluid">
        <div class="row" *ngIf="productsLoaded">
            <mat-card 
            class="col-md-3 panel-body border rounded" 
            style="padding: 20px; margin: 40px;" 
            *ngFor="let product of products | productFilter: productsFilter">

                <mat-card-title class="card-title product-title">{{product.title}}</mat-card-title>

                <div><img mat-card-image class="product-image" alt="Responsive image" src= "{{ product.imgPath }}" /></div>

                <mat-card-content>${{product.price}}.00</mat-card-content>

                <mat-card-content class="card-text">{{product.description}}</mat-card-content>

        </mat-card>
        </div>
    </div>
</div>

