<div class="container-fluid cust-container">
    <div>
        <button (click)="toggleAddProductView()" class="btn btn-primary toggle-button" #addProductView>Add a product</button>
    </div>
    <div *ngIf="showAddProduct" class="row">
        <form class="card-body" [formGroup]="postProductForm">
            <div>
                <label for="productTitle">Title</label>
                <input formControlName="productTitle" class="form-control" #productTitle  placeholder="Enter a product title.." type="text">
            </div>
            <div>  
                <label for="productImgPath">Image Path</label>
                <input formControlName="productImgPath" class="form-control" #productImgPath placeholder="Enter a product image url or path.." type="text">
            </div>  
            <div>
                <label for="productDescription">Description</label>
                <input formControlName="productDescription" class="form-control" #productDescription  placeholder="Enter a product description.." type="text">
            </div>
            <div>
                <label for="productPrice">Price</label>
                <input formControlName="productPrice" class="form-control" #productPrice  placeholder="Enter a product price.." type="number">
            </div>
            <div>
                <label for="productType">Product Type</label>
                <input formControlName="productType" class="form-control" #productType  placeholder="Enter a product type.." type="text">
            </div>
            <div>
                <button (click)="addProduct()" class="btn btn-success toggle-button" #addProductButton>Add Product</button>
            </div>
        </form>
    </div>
    <div>
        <button #deleteProductView (click)="toggleDeleteProductView()" class="btn btn-danger toggle-button">Delete a product</button>
    </div>
    <div *ngIf="showDeleteProduct" class="row">
        <form class="card-body" [formGroup]="deleteProductForm">
            <div>
                <label for="productID">ID</label>
                <input formControlName="productID" class="form-control" #productID  placeholder="Enter a product ID.." type="text">
            </div>
            <div class="card-body" *ngFor="let product of products">
                <button (click)="deleteProduct(product.id)" class="btn btn-danger toggle-button">Delete this product</button>
                <div>
                <label for="productTitleDel">Product Title: </label>
                <div #productTitleDel>{{ product.title }}</div>
                </div>
                <label for="productIDDel">Product ID: </label>
                <div #productIDDel>{{ product.id }}</div>
            </div>
        </form>
    </div>
</div>
