.cust-container {
    background-image: url('./../../assets/rp.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    padding: 50px;
    height: 300px;
    color: white;
}
.toggle-button {
    margin: 20px;
}
.product-del-card {
    background-color: white;
    border: 1px solid grey;
    
}