<form [formGroup]="formGroup">  
   <div id="login-container">
        <label for="userId">
            User ID
        </label>
        <input 
            required
            formControlName="userId"
            type="text" 
            name="userId">
        <p></p>
        <label for="password">
            Password
        </label>
        <input 
            required
            formControlName="password"
            type="password" 
            name="password">
        <button (click)="submit()">Submit</button>
    </div>
</form> 