<!-- <form [formGroup]="formGroup">  
   <div formGroupName="formGroup" id="login-container">
        <label for="userId">
            User ID
        </label>
        <input 
            required
            [(ngModel)]="userId" 
            type="text" 
            name="userId">
        <p></p>
        <label for="password">
            Password
        </label>
        <input 
            required
            [(ngModel)]="password" 
            type="password" 
            name="password">
        <button (click)="submit()">Submit</button>
    </div>
</form>  -->